.colorPalette {
  position: absolute;
  right: 16.5rem;
  bottom: 1rem;
  padding: 15px;
  padding-top: 15px !important;
  background-color: #374151;
  border-radius: 12px;
}
.cpinfo {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.cpinfo p {
  font-size: 12px;
  font-weight: 700;
}
