.actions-tb-scroll {
  overflow: auto;
  overflow-x: hidden;
}
.actions-tb-scroll::-webkit-scrollbar {
  width: 6px;
}

.actions-tb-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}

.actions-tb-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6b7280;
}
