@import url('https://fonts.googleapis.com/css?family=Lemonada');

body, html {
    margin: 0;
    padding: 0;
    height: 100%
}

div{
	display: block;
	width: 400px;
	margin: auto;
}

h1{
	text-align: center;
	color: black;
	font-family: 'Lemonada', cursive !important;
	text-transform: uppercase;
}

ul{
	margin:0;
	padding: 0;
}

#completed-tasks span{
	text-decoration: line-through;
	font-size: 1.2em !important;
}
