[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}

[dev-packages]
setuptools = "*"
pipenv = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.8"
