[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-socketio = {extras = ["asyncio_client"], version = "*"}
toml = "*"
questionary = "*"
requests = "*"
pymongo = {extras = ["srv"], version = "*"}

[dev-packages]
setuptools = "*"
pipenv = "*"
build = "*"
twine = "*"
