.slider-parent {
  width: 100%;
  margin: 20px;
  position: relative;
}

.slider-rail {
  width: 105%;
  height: 5px;
  border-radius: 8px;
  background: #f5f5f5;
}
.slider-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 5px;
  border-radius: 8px;
  background-color: #91d5ff;
}
.slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -8px;
  border: 2px solid #91d5ff;
  box-shadow: 1px 1px 10px #91d5ff, 0px 0px 20px #91d5ff;
}
