.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: #364d79;
  color: #fff;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators button {
  margin: 5px;
  border: none;
  width: 30px !important;
  margin-top: -15px !important;
  position: relative;
  z-index: 1;
  height: 1px;
  transition: width 0.3s ease-in;
}

.indicators button.active {
  color: #fff;
  width: 40px !important;
}
