#marginTopTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
#marginLeftTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
#marginRightTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
#marginBottomTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}