#paddingTopTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
#paddingLeftTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
#paddingRightTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
#paddingBottomTrapezoid:hover{
    fill: #6b7280;
    cursor: pointer;
}
